<section
  style="height: calc(100vh - 66px);"
  class="p-4 h-full flex flex-col flex-1 overflow-hidden"
>
  <form
    class="flex gap-2"
    [formGroup]="form"
    (ngSubmit)="createTag()"
  >
    <input
      type="text"
      placeholder="Tag name"
      required
      class="input input-bordered w-full max-w-xs"
      formControlName="title"
    />

    <select
      class="select select-bordered w-full max-w-xs"
      formControlName="color"
    >
      <option disabled selected>Pick tag color</option>
      <option
        *ngFor="let color of colors"
        [ngValue]="color.id"
      >
        {{color.value}}
      </option>
    </select>

    <button
      type="submit"
      class="btn"
      [disabled]="form.invalid"
    >
      Создать
    </button>
  </form>

  <div class="w-full overflow-y-scroll relative">
    <table class="table w-full my-4">
      <!-- head -->
      <thead class="sticky top-0">
        <tr>
          <th>Title</th>
          <th>Color</th>
          <th>Example</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let tag of tags">
          <td>
            <input
              type="text"
              class="input input-sm w-full"
              [(ngModel)]="tag.title"
            >
          </td>
          <td>
            <select
              class="select select-bordered select-sm w-full"
              [(ngModel)]="tag.color.id"
              (ngModelChange)="onChangeColor(tag)"
            >
              <option disabled selected>Pick tag color</option>
              <option
                *ngFor="let color of colors"
                [ngValue]="color.id"
              >
                {{color.value}}
              </option>
            </select>
          </td>
          <td>
            <nd-badge
              [color]="tag.color.value"
            >
              <span>{{tag.title || ' '}}</span>
            </nd-badge>
          </td>
          <td>
            <div class="flex gap-2">
              <button
                class="btn btn-sm btn-ghost btn-circle"
                (click)="onUpdateTag(tag)"
              >
                <i class="fa-solid fa-floppy-disk text-info"></i>
              </button>

              <!-- Todo: update remove method with confirm -->
              <!-- <button class="btn btn-sm btn-ghost btn-circle">-->
              <!--   <i class="fa-solid fa-trash-can text-error"></i>-->
              <!--  </button>-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</section>
