<ng-container *ngIf="task">
  <section class="py-2 px-4 leading-none">
    <header class="flex items-center gap-4">
      <button
        class="btn btn-circle btn-ghost btn-xs"
        [class.invisible]="!task.subTasks.length"
        (click)="toggleShow(!showTree)"
      >
        <span
          class="transition-all"
          [class.rotate-90]="showTree"
        >
          ▶
        </span>
      </button>
      <input type="checkbox" class="checkbox checkbox-sm">
      <h4 class="text-lg">{{task.title}}</h4>
    </header>


    <ng-container>
      <div *ngFor="let subTask of task.subTasks">
        <div class="px-2" *ngIf="showTree" @slide>
          <app-task-tree
            [task]="subTask"
            [isChild]="true">
          </app-task-tree>
        </div>
      </div>
    </ng-container>
  </section>
</ng-container>
