<div class="flex gap-2 items-center cursor-pointer">
  <input type="checkbox" class="checkbox checkbox-sm">
  <article class="flex flex-col flex-1">
    <div class="flex gap-2 items-center">
      <button class="btn btn-xs btn-circle btn-ghost">
        <i class="fa-solid fa-eye"></i>
      </button>

      <input
        type="text"
        class="input input-sm w-full"
        [formControl]="title"
      >

      <div class="w-32 flex flex-row gap-1">
        <div class="w-24">
          <button
            *ngIf="title.value !== task.title"
            class="btn btn-xs btn-square btn-warning"
            (click)="updateTask({title: title.value})"
            @slide
          >
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
        <button
          class="btn btn-xs btn-ghost btn-circle"
          [cdkMenuTriggerFor]="menu"
          [cdkMenuPosition]="[{
            originX: 'end',
            originY: 'bottom',
            overlayX: 'end',
            overlayY: 'top',
            offsetY: 8
          }]"
        >
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>

        <ng-template #menu>
          <div cdkMenu>
            <div @menu class="menu shadow-2xl bg-base-200">
              <li cdkMenuItem><a>Редактировать</a></li>
              <li cdkMenuItem><a>Приоритет</a></li>
              <li cdkMenuItem><a>Удалить</a></li>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <nd-badge
      *ngFor="let tag of task.tags"
      [color]="tag.color.value"
      size="xs"
    >
      {{tag.title}}
    </nd-badge>
  </article>
</div>
