<div class="flex gap-2 p-1 cursor-pointer">
  <input type="checkbox" class="checkbox checkbox-sm">
  <article class="flex flex-col flex-1">
    <div class="flex gap-2 items-center">

      <div class="row row-col flex-1">
        <h4>{{task.title}}</h4>

        <p class="opacity-75 text-xs truncate flex flex-col pt-1">
          <span>{{task.updatedAt | date:'dd.MM.YYYY'}}</span>
          <span>{{task.description || 'Описания нет...'}}</span>
        </p>

        <div class="flex gap-2 p-1 items-center">
          <span *ngIf="task.subTasks.length" class="text-sm opacity-90">
            {{task.subTasks.length}} <i class="fa-solid fa-list-check"></i>
          </span>

          <nd-badge
            *ngFor="let tag of task.tags"
            [color]="tag.color.value"
            size="xs"
          >
            {{tag.title}}
          </nd-badge>
        </div>
      </div>

      <div class="flex flex-row gap-1">
        <button
          class="btn btn-xs btn-ghost btn-circle"
          [cdkMenuTriggerFor]="menu"
          [cdkMenuPosition]="[{
            originX: 'end',
            originY: 'bottom',
            overlayX: 'end',
            overlayY: 'top',
            offsetY: 8
          }]"
        >
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>

        <ng-template #menu>
          <div cdkMenu>
            <div @menu class="menu shadow-2xl bg-base-200">
              <li cdkMenuItem><a>Редактировать</a></li>
              <li cdkMenuItem><a>Приоритет</a></li>
              <li cdkMenuItem><a>Удалить</a></li>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </article>
</div>
