<section class="h-full flex-1 p-2 max-w-screen-lg mx-auto">

  <div *ngIf="project$ | async as project">
    <h2 class="text-2xl">{{project.title}}</h2>

    <div class="py-8">
      <app-task-tree
        *ngFor="let task of project.tasks"
        [task]="task">
      </app-task-tree>
    </div>

    <span class="divider"></span>

    <div class="py-8" *ngFor="let section of project.sections">
      <section>
        <p>{{section.title}}</p>
        <app-task-tree
          *ngFor="let task of section.tasks"
          [task]="task">
        </app-task-tree>
      </section>
    </div>
  </div>
</section>
